:root {
    --pry-color: #662E9B;
    --sec-color: #F9C80E;
    --tri-color: #DDD;
    --h1-font-sz-lg: 3rem;
    --h1-font-sz-md: 2rem;
    --container-lg: 0 4rem;
    --text-center: center;
    /* --p: */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Grande',  sans-serif;
}

header {
    position: relative;
}

a, a::before, a::after {
    text-decoration: none;
    color: var(--sec-color);
}

.nav {
    position: fixed;
    width: 100vw;
    z-index: 2;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--pry-color);
    color: var(--sec-color);
    margin-bottom: 15px;
}

header h1 {
    font-size: var(--h1-font-sz-lg);
    text-align: var(--text-center);
    padding-top: 70px;
    margin-bottom: 10px;
}

.colored-txt {
    color: var(--pry-color);
}

.product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-container {
    margin: var(--container-lg);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* background-color: green; */
}

.product-card {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--tri-color);
}

.product-card:hover .cart-btn {
    display: inline;
}

.product-img {
    position: relative;
    width: 194px;
    height: 196px;
}

.product-img img {
    max-width: 194px;
    width: 100%;
    border-radius: 15px;
    height: inherit;
    object-fit: cover;
}

.confirm-btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: var(--pry-color);
    color: var(--sec-color);
}

.confirm-btn:active {
    transform: translateY(4px);
  }

.cart-btn {
    position: absolute;
    bottom: 10%;
    left: 25%;
    display: none;
}

/* nav {
    display: flex;
    justify-content: space-between;
} */

.product-name {
    padding: 10px 0;
    text-align: left;
}

.cart-container {
    height: auto;
    padding: 0 30px 30px 30px;
    margin: var(--container-lg);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--tri-color);
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
}

.cart-container h1 {
    font-size: var(--h1-font-sz-md);
    text-align: left;
    margin: 15px 0;
}

.cart-list {
    list-style: none;
}

.checkout-btn {
    margin: 20px auto;
}


/* FORM */

.form-main {
    padding-top: 70px;
}

/*.form-container {
    padding: 20px;
    margin: var(--container-lg);
    border-radius: 15px;
    background-color: var(--tri-color);
}

label, input {
    display: block;
} */


.form-container {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: var(--container-lg);
    background-color: var(--tri-color);
    display: flex;
    flex-direction: column;
    /* width: 400px; */
}



input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

.form-btn {
    text-align: center;
}

